<div>
 <!-- <!-- <img src="" alt="img">  -->

     <router-outlet></router-outlet> 
     <!-- <h1>Hello...</h1>
     <button (click)="getDataById()">GetById</button>

     <button (click)="getAllData()">Get All</button>
     <button (click)="addPost()">Add Post</button>
     <button (click)="deleteUser(2)">Delete</button> -->
</div>


<!-- <div>
    <div class="ImageBox">
        <img src="assets/logo.svg" alt="">
    
        </div>
    <div class="main">
            <div class="header">
               <p>Facebook Organic Report</p> 
            </div>
            <hr>
            <div class="body">
                <h1>PRIVEE Restaurent</h1>
                <div>
                    <p>Account ID:</p>
                    <p>106680285628677</p>
                </div>
                <div>
                    <p>Date : </p>
                    <p>19/08/2024 - 25/08/2024</p>
                </div>
            </div>
            <hr>
            <div class="footer">
                <p>Export Date : </p>
                <p>30/05/2024</p>
            </div>
        </div>
    
</div> -->